<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ArbeidsKrav1.Properties.Settings.SoftSensConfDBConnectionString"
            connectionString="Data Source=EB-PC\SQLEXPRESS;Initial Catalog=SoftSensConfDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />

			<add name = "SoftSensDBConnectionString"
				 connectionString = "Data Source = localhost\SQLEXPRESS; Initial Catalog = SoftSensConfDB; Integrated Security = True"
				 providerName = "System.Data.SqlClient" />

    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>